<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="PHP_CodeSniffer">
  <description>OS2Forms forloeb PHP Code Sniffer configuration</description>

  <file>.</file>
  <exclude-pattern>vendor/</exclude-pattern>

  <!-- Show progress of the run -->
  <arg value="p"/>

  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,yml"/>
  <config name="drupal_core_version" value="9"/>

  <rule ref="vendor/drupal/coder/coder_sniffer/Drupal" />
  <rule ref="vendor/drupal/coder/coder_sniffer/DrupalPractice"/>
</ruleset>
