# Ignore common database dump files by extension
db-backups/*.mysql
db-backups/*.sql
db-backups/*.gz
db-backups/*.xz
db-backups/*.zip

# Ignore IntelliJ
.idea/*

#ignore test artifacts
tests/output/

#ignore contrib modules
code/modules/contrib/*

#ignore contrib themes
code/themes/contrib/*