// |--------------------------------------------------------------------------
// | Overrides .main-container
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .main-container
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.main-container {
  .main-content-container {
    margin-top: 60px;
  }

  .tabs {
    margin-bottom: 10px;
  }

  .breadcrumb {
    margin: 0 0 40px 0;
    padding-left: 0;

    a {
      color: $breadcrumb-color;
      text-decoration: none;
      font-size: 16px;

      &:visited {
        color: $breadcrumb-color;
      }
    }
  }

  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}


// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {
  .main-container {
    &-wrapper {
      min-height: 400px;
      background:url('../images/subpage-leaf.png') top center no-repeat;
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

// Flexbox
.flexbox {}

// No flexbox
.no-flexbox {}

