// |--------------------------------------------------------------------------
// | Overrides
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - img
// | - .icon
// | - .form-control
// | - .row--equal-height-columns
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

body {
  font-weight: 400;
}

img {
  max-width: 100%;
}

.icon {}

.form-control {
  // Remove inline shadow on iOS (https://stackoverflow.com/questions/23211656/remove-ios-input-shadow)
  appearance: none;

  &,
  &:focus {
    @include box-shadow(none);
  }
}

body {

  .select-wrapper select {
    line-height: 1.7;
  }
}

a {

  &:not(.btn) {
    text-decoration: underline;

    &:visited {
      color: #800080;
    }
  }
}

.simplesamlphp-auth-login-link {
  position: absolute;
  top: -45px;
  right: 20px;
  background-color: #181f4b;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 15px;
  font-weight: 700;

  &:visited {
    color: #fff !important;
    text-decoration: none !important;
  }

  &:before {
    content: "\e161";
    color: white;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-right: 20px;
  }
}

details, .claro-details {
  border: none !important;
}

summary {
  font-size: 20px !important;
}

.webform-section-title {
  font-size: 14px !important;
}

.gin-table-scroll-wrapper {
  overflow: visible !important;
}


// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}

// Flexbox
.flexbox {}

// No flexbox
.no-flexbox {}
