.alert {
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left-width: 8px;

  font-weight: 600;

  &.form-item--error-message {
    padding: 5px 0;

    border: 0;
    background-color: transparent;

    &.alert-danger {
      color: #c00;
    }
  }
}

